html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

form {
  width: 100%;
  max-width: 400px;
}

form legend {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

form fieldset {
  border: 0;
  display: flex;
  gap: 0.3rem;
  height: 2.5rem;
}

form input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  font-size: 1rem;
}

form input:focus {
  outline: none;
  border-color: #333;
}

form button {
  border: 0;
  border-radius: 0.25rem;
  background-color: #ccc;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 0.3rem 0.9rem;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.todo {
  background-color: aquamarine;
  padding: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo span {
  flex: 1;
  word-wrap: break-word;
  word-break: break-all;
}

.todo div {
  display: flex;
  gap: 1rem;
}

.todo div button {
  border: 0;
  border-radius: 0.25rem;
  background-color: #ccc;
  font-size: inherit;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}

.todo div button:hover,
.todo div button:focus {
  background-color: #999;
}

.todo div button:nth-child(1) {
  background-color: lightskyblue;
  color: white;
}

.todo div button:nth-child(2) {
  background-color: red;
  color: white;
}
